<h1>New Photo</h1>

<%= form_for(@photo) do |f| %>

    <div class="field">
      <%= f.label :photo_date %><br>
      <%= f.date_field :photo_date %>
    </div>

    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>